<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>

    {{#if vacantes.length }}
        {{#each vacantes as | vacante |}}
            <div class="vacante">
                <div class="caja">
                    <h3>{{vacante.empresa}}</h3>
                    <p class="puesto">{{vacante.titulo}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicacion<p/>
                    <p class="nombre">{{vacante.ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato<p/>
                    <p class="nombre contrato">{{vacante.contrato}}</p>
                </div>
                <div class="caja centrar-vetical">
                    <a href="/vacantes/{{vacante.url}}" class="btn btn-verde">Más Info</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No hay vacantes</p>
    {{/if}}
</main>